In [3]:
#Fix the code below ðŸ‘‡

print("Day 1 - String Manipulation")
print('String Concatenation is done with the "+"/ sign.')
print('e.g. print("Hello " + "world")')
print("New lines can be created with a backslash and n.")

Day 1 - String Manipulation
String Concatenation is done with the "+"/ sign.
e.g. print("Hello " + "world")
New lines can be created with a backslash and n.

In [1]:
#Array

import array as arr

a= arr.array('i',[1,2,3])
for i in range(0,3):
    print(a[i])

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
cars = ["Ford", "Volvo", "BMW"]
print(thislist[2:5]) # 5th index -1 always remember
print(thislist[:-1]) #it will not print mango here 
print(thislist[1:2])

1
2
3
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon']
['banana']

In [14]:
num = [ 1, 2, 3, 4 ,5]
num.append(6)

num.sort(reverse=True)
print(num)
print(f"largest number would be {num[0]}")
print(max(num))

[6, 5, 4, 3, 2, 1]
largest number would be 6
6

In [21]:
num = [ 1, 2, 3, 4 ,5,6,6]
num.sort(reverse=True)
num.remove(max(num))
print(num)

[6, 5, 4, 3, 2, 1]

TypeError: can only concatenate list (not "str") to list

In [6]:
#dictionary : has key and value 
# keys cannot be duplciated  
dict1={1:'word' , 2:'another'}

print(type(dict1))

<class 'dict'>

In [8]:
dict1[1]

'word'

In [10]:
# how to add 
dict1['new']='new added'

In [11]:
dict1

{1: 'word', 2: 'another', 'new': 'new added'}

In [14]:
# dictionary looping 


for i in dict1:
    print(i)
    print(dict1[i])

1
word
2
another
new
new added

In [15]:
list1=[1,2,3,4,5]

In [39]:
list1.insert(1,88)

In [40]:
list1

[1, 88, 2, 3, 1, 4, 5, [1], [1], [1], 3, 1, 1, 9]

In [41]:
 student_scores = {
  "Harry": 81,
  "Ron": 78,
  "Hermione": 99, 
  "Draco": 74,
  "Neville": 62,
}

In [47]:
def score_aggregator(x):
    if x > 91 :
       return 'Ourstanding'
    elif (x >81) & (x<=90):
        return 'Exeeds expectation'
    elif (x >71) & (x<=80):
        return 'acceptable'
    else :
        return 'fail'

for i in student_scores:
    print(f'{i} - {score_aggregator(student_scores[i])}')

Harry - fail
Ron - acceptable
Hermione - Ourstanding
Draco - acceptable
Neville - fail

In [48]:
# Nesting in dictionary and list

In [1]:

travel_log = [
{
  "country": "France", 
  "cities_visited": ["Paris", "Lille", "Dijon"], 
  "total_visits": 12,
},
{
  "country": "Germany",
  "cities_visited": ["Berlin", "Hamburg", "Stuttgart"],
  "total_visits": 5,
},
]

In [5]:
travel_log.append({"country": "Russia",
  "cities_visited": ["Moscow", "Pettersburg"],
  "total_visits": 5,})

In [14]:
def addnewcountry(name , cities_visited , total_visits):
    newcountry={}
    newcountry["country"]=name 
    newcountry['cities_visited']=cities_visited 
    newcountry['total_vists']=total_visits
    travel_log.append(newcountry)

In [15]:
addnewcountry('USA',['new york','california','Los angles','Miami'],13)

In [16]:
travel_log

[{'country': 'France',
  'cities_visited': ['Paris', 'Lille', 'Dijon'],
  'total_visits': 12},
 {'country': 'Germany',
  'cities_visited': ['Berlin', 'Hamburg', 'Stuttgart'],
  'total_visits': 5},
 {'country': 'Russia',
  'cities_visited': ['Moscow', 'Pettersburg'],
  'total_visits': 5},
 {'country': 'USA',
  'cities_visited': ['new york', 'california', 'Los angles', 'Miami'],
  'total_vists': 13}]

In [32]:
def add(new , new1):
    return new + new1

add(add(1,2),add(3,4))

def name(fname,lname):
    if fname =="" and lname=="":
        return
    else:
        return f'Full name is =>{fname.title()} {lname.title()}'

print(name(input('give a first name'),input('give second name ')))

None

In [3]:
# docstrings 
a="""" we can write multiline 
string that we cannot do it in the normal""" 
print(a)
at='asda
asdasd
asdasd'
print(at)

SyntaxError: unterminated string literal (detected at line 5) (961730206.py, line 5)

In [9]:

def Multiply(a,b):
    return a*b
def Add(a,b):
    return a+b
def Subtract(a,b):
    return a-b
def Divide(a,b):
    return a/b

dict1 ={
    "*":Multiply , 
    "+":Add , 
    "-":Subtract ,
    "/":Divide 
}


temp = True
while temp : 
    a=int(input('Whats the first number'))
    b=int(input('Whats the second number'))
    op=input('Pick an operation * + / -')
    funct = dict1[op]
    print(f"{a} {op} {b} = {funct(a,b)}")
    dec=input("Type 'y' continue calclulation if not 'n' ")
    if (dec=='n') | (dec=='N') :
        temp = False 
        break

12 * 10 = 120
10 - 10 = 0

In [13]:
num_of_potions=3
def newpotion(): 
    global num_of_potions =3
    print(num_of_potions)
    
print(num_of_potions)

SyntaxError: invalid syntax (1376882289.py, line 3)

In [24]:
# global Scoping 
a=11
def increase_funct():
    global a
    a=a+1
    print(a)
    
def new_funct():
    print(a+1)

new_funct()

12

In [25]:
# you can fix the constants with uppercasing 
PI = 3.1432

def change():
    PI = 3.12
    print(PI)
    
change()

3.12

In [37]:
# guessing the number 

import random

number=random.randint(1,100)
diff=input("Choose a difficulty ,'easy' or 'hard' : ")

if diff=='easy':
    attempts = 10
else :
    attempts=5

gameon = True
print("welcome to the number guessing game")
print("thinking of a numebr between 1 and 100 ")
while attempts>0:
    print(f'you have {attempts} remaining to guess the number')
    guess=int(input('Guess the number : '))
    if guess == number:
        print(f"Congratulations you have guessed it ! the number is {number}")
        attempts=0
        break 
    else : 
        attempts -=1
        if guess > number :
            print('too high') 
        else: 
            print('too low ')
    if attempts == 0 : 
        print(f'The correct answer was {number}')

welcome to the number guessing game
thinking of a numebr between 1 and 100
you have 5 remaining to guess the number

ValueError: invalid literal for int() with base 10: 'eas'

In [95]:
age = int(input("How old are you?"))
if age > 18:
    print(f"You can drive at age {age}.")

You can drive at age 22.

In [97]:
def mutate(a_list):
  b_list = []
  for item in a_list:
    new_item = item * 2
    b_list.append(new_item)
  print(b_list)

mutate([1,2,3,5,8,13])

[2, 4, 6, 10, 16, 26]

In [3]:
data = [
    {
        'name': 'Instagram',
        'follower_count': 346,
        'description': 'Social media platform',
        'country': 'United States'
    },
    {
        'name': 'Cristiano Ronaldo',
        'follower_count': 215,
        'description': 'Footballer',
        'country': 'Portugal'
    },
    {
        'name': 'Ariana Grande',
        'follower_count': 183,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': 'Dwayne Johnson',
        'follower_count': 181,
        'description': 'Actor and professional wrestler',
        'country': 'United States'
    },
    {
        'name': 'Selena Gomez',
        'follower_count': 174,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': 'Kylie Jenner',
        'follower_count': 172,
        'description': 'Reality TV personality and businesswoman and Self-Made Billionaire',
        'country': 'United States'
    },
    {
        'name': 'Kim Kardashian',
        'follower_count': 167,
        'description': 'Reality TV personality and businesswoman',
        'country': 'United States'
    },
    {
        'name': 'Lionel Messi',
        'follower_count': 149,
        'description': 'Footballer',
        'country': 'Argentina'
    },
    {
        'name': 'BeyoncÃ©',
        'follower_count': 145,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'Neymar',
        'follower_count': 138,
        'description': 'Footballer',
        'country': 'Brasil'
    },
    {
        'name': 'National Geographic',
        'follower_count': 135,
        'description': 'Magazine',
        'country': 'United States'
    },
    {
        'name': 'Justin Bieber',
        'follower_count': 133,
        'description': 'Musician',
        'country': 'Canada'
    },
    {
        'name': 'Taylor Swift',
        'follower_count': 131,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'Kendall Jenner',
        'follower_count': 127,
        'description': 'Reality TV personality and Model',
        'country': 'United States'
    },
    {
        'name': 'Jennifer Lopez',
        'follower_count': 119,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': 'Nicki Minaj',
        'follower_count': 113,
        'description': 'Musician',
        'country': 'Trinidad and Tobago'
    },
    {
        'name': 'Nike',
        'follower_count': 109,
        'description': 'Sportswear multinational',
        'country': 'United States'
    },
    {
        'name': 'KhloÃ© Kardashian',
        'follower_count': 108,
        'description': 'Reality TV personality and businesswoman',
        'country': 'United States'
    },
    {
        'name': 'Miley Cyrus',
        'follower_count': 107,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': 'Katy Perry',
        'follower_count': 94,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'Kourtney Kardashian',
        'follower_count': 90,
        'description': 'Reality TV personality',
        'country': 'United States'
    },
    {
        'name': 'Kevin Hart',
        'follower_count': 89,
        'description': 'Comedian and actor',
        'country': 'United States'
    },
    {
        'name': 'Ellen DeGeneres',
        'follower_count': 87,
        'description': 'Comedian',
        'country': 'United States'
    },
    {
        'name': 'Real Madrid CF',
        'follower_count': 86,
        'description': 'Football club',
        'country': 'Spain'
    },
    {
        'name': 'FC Barcelona',
        'follower_count': 85,
        'description': 'Football club',
        'country': 'Spain'
    },
    {
        'name': 'Rihanna',
        'follower_count': 81,
        'description': 'Musician and businesswoman',
        'country': 'Barbados'
    },
    {
        'name': 'Demi Lovato',
        'follower_count': 80,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': "Victoria's Secret",
        'follower_count': 69,
        'description': 'Lingerie brand',
        'country': 'United States'
    },
    {
        'name': 'Zendaya',
        'follower_count': 68,
        'description': 'Actress and musician',
        'country': 'United States'
    },
    {
        'name': 'Shakira',
        'follower_count': 66,
        'description': 'Musician',
        'country': 'Colombia'
    },
    {
        'name': 'Drake',
        'follower_count': 65,
        'description': 'Musician',
        'country': 'Canada'
    },
    {
        'name': 'Chris Brown',
        'follower_count': 64,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'LeBron James',
        'follower_count': 63,
        'description': 'Basketball player',
        'country': 'United States'
    },
    {
        'name': 'Vin Diesel',
        'follower_count': 62,
        'description': 'Actor',
        'country': 'United States'
    },
    {
        'name': 'Cardi B',
        'follower_count': 67,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'David Beckham',
        'follower_count': 82,
        'description': 'Footballer',
        'country': 'United Kingdom'
    },
    {
        'name': 'Billie Eilish',
        'follower_count': 61,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'Justin Timberlake',
        'follower_count': 59,
        'description': 'Musician and actor',
        'country': 'United States'
    },
    {
        'name': 'UEFA Champions League',
        'follower_count': 58,
        'description': 'Club football competition',
        'country': 'Europe'
    },
    {
        'name': 'NASA',
        'follower_count': 56,
        'description': 'Space agency',
        'country': 'United States'
    },
    {
        'name': 'Emma Watson',
        'follower_count': 56,
        'description': 'Actress',
        'country': 'United Kingdom'
    },
    {
        'name': 'Shawn Mendes',
        'follower_count': 57,
        'description': 'Musician',
        'country': 'Canada'
    },
    {
        'name': 'Virat Kohli',
        'follower_count': 55,
        'description': 'Cricketer',
        'country': 'India'
    },
    {
        'name': 'Gigi Hadid',
        'follower_count': 54,
        'description': 'Model',
        'country': 'United States'
    },
    {
        'name': 'Priyanka Chopra Jonas',
        'follower_count': 53,
        'description': 'Actress and musician',
        'country': 'India'
    },
    {
        'name': '9GAG',
        'follower_count': 52,
        'description': 'Social media platform',
        'country': 'China'
    },
    {
        'name': 'Ronaldinho',
        'follower_count': 51,
        'description': 'Footballer',
        'country': 'Brasil'
    },
    {
        'name': 'Maluma',
        'follower_count': 50,
        'description': 'Musician',
        'country': 'Colombia'
    },
    {
        'name': 'Camila Cabello',
        'follower_count': 49,
        'description': 'Musician',
        'country': 'Cuba'
    },
    {
        'name': 'NBA',
        'follower_count': 47,
        'description': 'Club Basketball Competition',
        'country': 'United States'
    }
]

In [2]:
data[49]

NameError: name 'data' is not defined

In [4]:
import random 

# print(f"new data shows {data[a_guess]['name']}")
# print(data[b_guess]['name'])

gameon = True
Final_score = 0 
while gameon:
    a_guess=int(random.randint(1,49))
    b_guess=int(random.randint(1,49))
    print(f"Compare A :{data[a_guess]['name']} ,{data[a_guess]['description']} from {data[a_guess]['country']} ")
    print(f"Compare B :{data[b_guess]['name']} ,{data[b_guess]['description']} from {data[b_guess]['country']} ")
    guess = input('Who has more number of follower A / B')
    if data[a_guess]['follower_count'] > data[b_guess]['follower_count']:
        bigger_count='A'
    else : 
        bigger_count='B' 
    if guess.upper()==bigger_count:
        Final_score+=1
        print(f"Yipee! Correct answer :D  !! your current score : {Final_score}")
        
    else : 
        print(f'Oops !! wrong answer :( !!  your current score: {Final_score}')
        
    cont_play = input('would you like to play more ? Y/N')
    if cont_play.upper()=='N':
        print(f'Your final score is : {Final_score}')
        gameon=False
        break
    else : 
        continue

Compare A :Justin Timberlake ,Musician and actor from United States
Compare B :Shawn Mendes ,Musician from Canada
Yipee! Correct answer :D  !! your current score : 1
Compare A :Victoria's Secret ,Lingerie brand from United States
Compare B :Ronaldinho ,Footballer from Brasil
Yipee! Correct answer :D  !! your current score : 2
Compare A :LeBron James ,Basketball player from United States
Compare B :Rihanna ,Musician and businesswoman from Barbados
Oops !! wrong answer :( !!  your current score: 2
Compare A :Demi Lovato ,Musician and actress from United States
Compare B :Cristiano Ronaldo ,Footballer from Portugal
Oops !! wrong answer :( !!  your current score: 2
Compare A :Nicki Minaj ,Musician from Trinidad and Tobago
Compare B :National Geographic ,Magazine from United States
Oops !! wrong answer :( !!  your current score: 2
Your final score is : 2